
.name-highlight{
    color: tomato;
}
.top{
   background-color: rgb(255, 245, 246);
}
.sticky-top{
    position: fixed;
}
.shoes-card{
    border: 20px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px hsl(0, 2%, 75%);
}
.shoes-card img{
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
}
.shoes-card-footer{
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 400px;
    height: 140px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgb(228, 220, 220);
    display: flex;
    margin: 10px;
    padding: 8px;
    
}
.box img {
    width: 100px;
}